<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2><%= t(".this_homepage", link: link_to(t(".ror_tut"),
    "http://www.railstutorial.org/")).html_safe %></h2>
  <%= link_to t(".sign_up"), "users/new", class: "btn btn-lg btn-primary" %>
</div>
