/db/*.sqlite3
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
.idea/
/test/
config/settings.local.yml
config/settings/development.yml
config/settings/production.yml
config/settings/test.yml
/.drone.yml
/.eslintrc.json
/.eslintignore
/.framgia-ci.yml
/.framgia-ci-result.temp.yml
/.rubocop.yml
/.rubocop_disabled.yml
/.rubocop_enabled.yml
/.scss-lint.yml
/framgia_ci_integrate_steps.md
.framgia-ci-reports/brakeman.html
/Dockerfile
/.reek
/.rspec
/.framgia-ci-reports/
