@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';
@import 'config';

//universal
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

//typography
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray-light;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

//header
.logo {
  color: $logo-color;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $logo-color;
    text-decoration: none;
  }
}

//footer
footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

//miscellaneous
.debug-dump {
  @include box-sizing;
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

//sidebar
aside {
  section.user-info {
    margin-top: 20px;
  }

  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1em;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin: 3px;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;

  a {
    border-left: 1px solid $gray-lighter;
    color: $gray;
    float: left;
    padding: 0 10px;

    &:first-child {
      border: 0;
      padding-left: 0;
    }

    &:hover {
      color: $color-hover;
      text-decoration: none;
    }
  }

  strong {
    display: block;
  }
}

.user_avatars {
  margin-top: 10px;
  overflow: auto;

  .gravatar {
    margin: 1px 1px;
  }

  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

//forms
input,
textarea,
select,
.uneditable-input {
  @include box-sizing;
  border: 1px solid $border-text-area;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto !important;
}

.error-explanation {
  color: $error-color;

  ul {
    color: $error-color;
    margin: 0 0 30px;
  }
}

.field-with-errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin: -10px 0 10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

.session-remember-me {
  margin-left: 0;
  width: auto;
}

//Users index
.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

//microposts
.microposts {
  list-style: none;
  padding: 0;

  li {
    border-top: 1px solid $border-light-micropost;
    padding: 10px 0;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

  .gravatar {
    float: left;
    margin: 5px 10px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;

  input {
    border: 0;
  }
}

//post
.sort-description{
  overflow-y: hidden;
}

//comment
.field-comment{
  min-height: 30px;
  width: 100%;
}
.size-input-comment{
  max-width: 80%;
}
.btn-comment{
  float: right;
  margin: -50px 50px;
  max-width: 12%;
  right: 0;
}
.author{
  max-width: 30%;
}
.comment-box{
  border-radius:5px;
  margin-bottom: 10px;
  background-color: #9eaacd;
}
.comment-part{
  word-wrap:break-word;
}
